@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", "sans-serif";
  --font-merriweather: "merriweather";
  --font-montserrat: "Montserrat";

  --color-primary1: "#00aae9";

  --color-primary1: "#00aae9";
}
